@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lalezar&family=Pacifico&display=swap");

.footer-mobile, .mobile{
   display: none;
}

/* FONTES E CONFIGURAÇÕES PADRÃO DO PROJETO */

/* FONTES */
.fonte-abel {
   font-family: "Abel", sans-serif;
}

.fonte-lalezar {
   font-family: "Lalezar", system-ui;
}

.fonte-pacifico {
   font-family: "Pacifico", cursive;
}

/* PESO */
.fonte-abel,
.fonte-laleza,
.fonte-pacifico {
   font-weight: 400;
   font-style: normal;
}

/* TAMANHOS DAS FONTES */
.tamanho-20 {
   font-size: 20px;
}

.tamanho-40 {
   font-size: 40px;
}

.tamanho-60 {
   font-size: 60px;
}

/* CORES PADRÃO DO PROJETO */

/* CORES DE TEXTO */
.texto-branco {
   color: #ffffff;
}

.texto-laranja {
   color: #ffa800;
}

.texto-preto {
   color: #2f160b;
}

.texto-choco2 {
   color: #2f160b;
}

/* CORES DE FUNDO */
.fundo-branco {
   background-color: #ffffff;
}

.fundo-cinza {
   background-color: #d9d9d9;
}

.fundo-rosa1 {
   background-color: #ffe6e6;
}

.fundo-rosa2 {
   background-color: #f3d1d1;
}

.fundo-choco1 {
   background-color: #514338;
}

.fundo-choco2 {
   background-color: #2f160b;
}

.retangulo {
   position: absolute;
}

/* Primeiro retângulo */
.retangulo1 {
   width: 10rem;
   height: 5px;
   background-color: blue;
   top: 150px;
   left: 500px;
}

/* Segundo retângulo */
.retangulo2 {
   width: 15rem;
   height: 15px;
   background-color: red;
   top: 145px;
   left: 100px;
   opacity: 0.8; /* Opcional: ajuste da transparência para visualizar sobreposição */
}

/*footerdetop*/
.area-footer-desktop{
   background-color: #2f160b;
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   width: 100%;
   height: 300px;
}

.blocofooter1{
   background-color: #ffa800;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 27%;
height: 100%;
}

.bordabloco1footer{
   color: white;
   border: solid 2px ;
   width: 87%;
   height: 85%;
}



.bordabloco1footer img{
   margin-top: 5%;
   margin-left: 5%;
}

.bordabloco1footer h2{
   font-family: "lalezar", system-ui;
   font-weight: 400;
   font-style: normal;
font-size: 150%;
margin-left: 35%;
width: 70%;
height: 25%;
margin-top: -19%;
color: white;
}

.bordabloco1footer p{
   font-family: "abel", system-ui;
   font-weight: bold;
   font-style: normal;
   color: white;
   margin-left: 5%;
   font-size: 115%;
   text-align: center;
   width: 90%;
}

.blocofooter2 {
   width: 26%;
height: 80%;
margin-top: 2%;
}

.blocofooter2 p{
   margin: 6px 0; 
   font-family: "abel", system-ui;
   font-weight: 400;
   font-style: normal;
   color: white;
   font-size: 118%;
}

.blocofooter2 h2{
   color: #ffa800;
   font-family: "lalezar", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 200%;
}

.blocofooter3{
   width: 25%;
height: 80%;
margin-top: 2%;
}


   .blocofooter3 p {
      margin: 5px 0; 
   }
   

.blocofooter3 a{
   font-family: "abel", system-ui;
   font-weight: 400;
   font-style: normal;
   color: white;
   text-decoration: none;
   font-size: 120%;
}

.blocofooter3 h2{
   color: #ffa800;
   font-family: "lalezar", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 200%;
}

.desenvolvido{
   font-family: "abel", system-ui;
   font-weight: 400;
   font-style: normal;
   width: 300px;
   height: 30px;
   position: absolute;
   margin-top: -31px;
   margin-left: 1000px;

}

/*footerdetop*/

/*--area mobile--*/ 
@media screen and (max-width: 932px){

   .footer-desktop, #desktop{
      display: none;
   }
   .footer-mobile, .mobile{
      display: block;
   }

   .logo {
      width: 80px;
      height: 80px;
   }
   
   .menu-icon {
      width: 40px;
      height: 40px;
   }
   
   .btn-menu {
      background-color: transparent;
      border-color: transparent;
   }
   
   .cabecalho {
      border: solid;
      border-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      width: 92%;
      height: 80%;
   }
   
   .mobile {
      background-color: #ffa800;
   
      width: 100%;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   h1 {
      font-family: "Lalezar", system-ui;
      font-weight: 400;
      font-style: normal;
      color: #fff;
   }
   
   .menu {
      display: none;
      width: 45%;
      height: 45%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      right: 0;
   }
   
   .btn-close {
      font-size: 2em;
      color: #fff;
      float: right;
      cursor: pointer;
      margin-right: 8%;
   }
   
   .menu ul {
      width: 80%;
      float: left;
      text-align: center;
      list-style: none;
   }
   
   .menu li {
      padding: 1.5%;
   }
   
   .menu li a {
      font-family: "Lalezar", system-ui;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2em;
      color: #fff;
      padding: 1.6% 6%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   .menu li a:hover {
      border: 1px solid #ffa800;
   }
 /*--footer--*/ 
 
   .logo2 {
   width: 90px;
   height: 90px; 
   }

   
   .bloco1-footer-mobile { 
   background-color: #ffa800; 
   display: flex;  
   justify-content: center;
   align-items: center;
   width: 100%; 
   height: 280px;
   } 
.borda-bloco1 {
   border: solid;
   border-color: white;
   width: 95%;
   height: 90%;
}
.logo-texto-rodape{
   width: 70%;
   float: inline-end;
   margin-top: -10%;
   color: white;
   position: absolute;
   margin-left: 25%;
}

.logo-texto-rodape h2{
   text-align: center;
font-size: 150%;
font-family: "Lalezar", system-ui;
      font-weight: 400;
      font-style: normal;
}

.borda-bloco1 p{
   color: white;
   text-align: center;
   width: 100%;

   margin-left: 5%;
padding: 30px;
font-family: "abel", system-ui;
      font-weight: 400;
      font-style: normal;
      font-weight: bolder;
}

.rodape2 h2{
 color: #ffa800;
 font-family: "Lalezar", system-ui;
      font-weight: 400;
      font-style: normal;
}
.rodape2 p{
   font-family: "abel", system-ui;
      font-weight: 400;
      font-style: normal;
   color: white;
   margin: 5px 0;

}



.rodape3 a{
   font-family: "abel", system-ui;
      font-weight: 400;
      font-style: normal;
color: white;
   margin-left: 7px;
   text-decoration: none;
}

.rodape3 h2{
   font-family: "Lalezar", system-ui;
      font-weight: 400;
      font-style: normal;
   color: #ffa800;
   margin-left: 7px;
}

   .footer-mobile {
      background-color: #2f160b;
      width: 100%;
      height: 750px;
   }

 .bordinha{
   display: flex; 
   justify-content: center;
   align-items: center;
   font-size: 70%;
   background-color: #2f160b;
   width: 100%;
   height:60px ;
 }
   
   

}